---
layout: base
title: All Tools
---

<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div>
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Homebrew Cask Packages</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pb-0 d-flex flex-row flex-wrap">
                    {% for item in site.data.tools.all.homebrew_cask_packages %}
                        <div class="card d-flex flex-row align-items-center mb-4" style="padding: 0.2rem 1rem 0.2rem 1rem; margin-right: 1rem;">
                            <img style="margin-right: 0.5rem;" class="tool-icon" src="{{ item.icon }}" /> 
                            <h6 class="mb-1 text-muted font-weight-bold text-sm">{{ item.name }}</h6>
                        </div>                            
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div>
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Homebrew Packages</h6>
                        </div>

                    </div>
                </div>
                <div class="card-body p-3 pb-0 d-flex flex-row flex-wrap">
                    {% for item in site.data.tools.all.homebrew_packages %}
                        <div class="d-flex flex-column card mb-4" style="padding: 0.2rem 1rem 0.2rem 1rem; margin-right: 1rem;">
                            <h3 class="mb-1 text-muted font-weight-bold text-sm">{{ item.name }}</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Homebrew Taps</h6>
                        </div>
                    </div>
                </div>
                <!--<div class="card-body p-3 pb-0 d-flex flex-row flex-wrap">
                    {% for item in site.data.tools.all.homebrew_taps %}
                        <div class="d-flex flex-column card mb-4" style="padding: 0.2rem 1rem 0.2rem 1rem; margin-right: 1rem;">
                            <h3 class="mb-1 text-muted font-weight-bold text-sm">{{ item.name }}</h6>
                        </div>
                    {% endfor %}
                </div>-->
            </div>
        </div>
    </div>
</div>

