---
layout: default
title: Homepage
---
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tools /</span> All</h4>

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            <small class="text-light fw-semibold">Homebrew Taps</small>
                            {% for tap in site.data.tools.all.homebrew_taps %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ tap.name }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0" />
            </div>
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            <small class="text-light fw-semibold">Homebrew Packages</small>
                            {% for package in site.data.tools.all.homebrew_packages %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ package.name }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0" />
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            <small class="text-light fw-semibold">Homebrew Cask Packages</small>
                            {% for cask_package in site.data.tools.all.homebrew_cask_packages %}
                            {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
                            {% if modulo == '0' or forloop.first %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ cask_package.name }} </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0" />
            </div>
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            <small class="text-light fw-semibold">Homebrew Cask Packages</small>
                            {% for cask_package in site.data.tools.all.homebrew_cask_packages %}
                            {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
                            {% if modulo == '1' %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ cask_package.name }} </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0" />
            </div>
        </div>
    </div>
</div>