<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="index.html"
           target="_blank">
            <img src="./assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">WEGTech </span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            {% for menu in site.data.navigation.menu %}
                {% if menu.children.size > 0 %}

                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">{{ menu.name }}</h6>
                </li>

                        {% for child in menu.children %}
                            <li class="nav-item child-nav-item">
                                <a class="{% if page.url contains menu.link %}nav-link text-white active bg-gradient-primary{% else %}nav-link text-white {% endif %}" href="{{ site.baseurl }}/{{ child.link }}">
                                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="material-icons opacity-10">{{ child.icon }}</i>
                                    </div>
                                    <span class="nav-link-text ms-1">{{ child.name }}</span>
                                </a>
                            </li>
                        {% endfor %}

                    <hr class="mb-1">
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="{% if page.url contains menu.link %}nav-link text-white active bg-gradient-primary{% else %}nav-link text-white {% endif %}" href="{{ site.baseurl }}/{{ menu.link }}">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">{{ menu.icon }}</i>
                        </div>
                        <span class="nav-link-text ms-1">{{ menu.name }}</span>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>