
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , made with ❤️ by
            <a href="https://wingie.com/" target="_blank" class="footer-link fw-bolder">Wingie Enuygun</a>
        </div>
        <div>
            <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
            <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More
                Themes</a>

            <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
            >Documentation</a
            >

            <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
            >Support</a
            >
        </div>
    </div>
</footer>

<style>
    .navbar-custom {
        background-color: #343a40; /* Koyu gri arka plan */
    }
    .navbar-custom .navbar-text {
        color: #ffffff; /* Beyaz metin rengi */
        margin-right: auto; /* Metni sola yaslamak için */
        margin-left: auto; /* Metni ortalamak için */
    }
    .navbar-custom .navbar-text code {
        background-color: #495057; /* Daha koyu gri arka plan */
        color: #f8f9fa; /* Açık renk metin */
        border-radius: 3px; /* Hafif yuvarlatılmış köşeler */
        padding: 2px 4px; /* Çevresindeki boşluk */
    }
</style>


<nav class="navbar fixed-bottom navbar-custom navbar-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
    <div class="navbar-text">
        Install Command: <code>ls -la /home/user</code>
    </div>
</nav>