
<script src="./assets/libs/jquery/jquery.js"></script>
<script src="./assets/libs/popper/popper.js"></script>
<script src="./assets/js/bootstrap.js"></script>
<script src="./assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="./assets/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="./assets/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="./assets/js/main.js"></script>

<!-- Page JS -->
<script src="./assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>