---
layout: default
title: Homepage
---
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-12">
        <div class="card-body">
        <h1>{{ page.section[0] | capitalize }} Setup for {{ page.company.config.name }}</h1>
        <p>The following lists detail the Homebrew taps and packages essential for setting up the {{ page.section[0] | tolower }} environment of
            {{ page.company.config.name }}.</p>
    </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <h5>Install Command</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" value="curl -sL https://github.com/WEG-Technology/dev-env-go/releases/download/v0.0.1/development-env_darwin_arm64 -o /tmp/dev-env && chmod +x /tmp/dev-env && /tmp/dev-env -url=https://weg-technology.github.io/dev-env/wingie-enuygun-backend.yaml" id="commandToCopy" readonly>
                <button class="btn btn-outline-primary" type="button" onclick="copyCommand()">Copy</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Taps</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            {% for tap in page.section[1].homebrew_taps %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ tap.name }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0"/>
            </div>
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            {% for package in page.section[1].homebrew_packages %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ package.name }} </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0"/>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <h5 class="card-header">Homebrew Cask Packages</h5>
                <!-- Checkboxes and Radios -->
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-md">
                            {% for cask_package in page.section[1].homebrew_cask_packages %}
                            {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
                            {% if modulo == '0' or forloop.first %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ cask_package.name }} </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md">
                            {% for cask_package in page.section[1].homebrew_cask_packages %}
                            {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
                            {% if modulo == '1' %}
                            <div class="form-check mt-3">
                                <label class="form-check-label"> {{ cask_package.name }} </label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="m-0"/>
            </div>
        </div>
    </div>
</div>

<script>
    function copyCommand() {
        var copyText = document.getElementById("commandToCopy");
        copyText.select();
        document.execCommand("copy");
    }
</script>