---
layout: base
title: Homepage
---

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Company Card -->
    <div class="row">
        <article class="card mb-4 shadow-xl">
            <!--<h1 class="card-header text-center">{{ page.company.config.name }}</h1>-->
            <figure class="text-center">
                <img src="{{ site.baseurl }}/{{ page.company.config.logo }}" alt="Company Logo" width="220"/>
            </figure>
            <div class="card-body">
                <p>{{ page.company.config.description }}</p>
            </div>
            <hr class="m-0" />
        </article>
    </div>

    <!-- Technology Stack Table -->
    <div class="row">
        <section class="card shadow-xl">
            <h2 class="card-header">Technology Stack</h2>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for stack in page.company %}
                    {% if stack[0] != "config" %}
                    <tr>
                        <td>{{ stack[0] | capitalize }}</td>
                        <td>
                            <a href="{{ site.baseurl }}/{{ page.company.config.slug }}-{{ stack[0] }}.html" class="badge bg-label-primary">
                                Show
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
